
@mixin button($bgc) {
    background-color: $bgc;
    padding: 10px 30px;
    border: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin: 0px 10px;
    border-radius: 10px;
    &:hover {
        background-color: lighten($bgc, 30%) ;
    }
}

@mixin input($bgc) {

    border-radius: 10px;
    border: 1px solid #000;
    width: 300px;

}

@mixin containerCentral($pad) {
    padding: padpx;
    width: 85%;
    margin: 0 auto;
}

@mixin box() {

    .container-box:hover .list-info {               
        display: block;
        border-radius: 20px;
        
    }

    .container-box {
        width: 250px;
        height: 339px;
        border-radius: 20px;
        margin-bottom: 20px;
        

        .box-foto {

            width: 100%;
                height: 100%;
                
            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;

            }

        }

        ul {            
            width: 100%;   
            height: 100%;         
            background-color: rgb(73, 73, 73);
            color: white;
            position: relative;

            .list-info{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.76);
                width: 100%;
                height: 100%;
                padding: 10px;
            
                li {
                    list-style: none;
                    margin: 20px 0px;

                    .nofound {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .flag {
                        width: 25px;
                    }

                }

            }

        }

    }









}